<h1>Your Profile</h1>

<%= form_for @profile do |f| %>
<div class="form-group">
  <p><%= f.label      :f_name, "First Name" %></p>
  <%= f.text_field :f_name %>
</div>

<div class="form-group">
  <p><%= f.label      :l_name, "Last Name" %></p>
  <%= f.text_field :l_name %>
</div>

<div class="form-group">
  <p><%= f.label      :address %></p>
  <%= f.text_field :address %>
</div>

<div class="form-group">
  <p><%= f.label      :city %></p>
  <%= f.text_field :city %>
</div>

<div class="form-group">
  <p><%= f.label      :treat_name, "Your Signature Treat" %></p>
  <%= f.text_field :treat_name %>
</div>

<div class="form-group">
  <p><%= f.label      :breeds_owned, "Breeds You Own" %></p>
  <p><%= f.text_field :breeds_owned %></p>
</div>

<div class="form-group">
  <%= f.submit "Submit Your Profile", class: "btn btn-primary" %>
</div>
<% end %>