<section>
  <h1><%= @profile.f_name.capitalize + " " + @profile.l_name.capitalize %></h1><hr/>
</section>

<div class="well">
  <h3>City:</h3>
  <strong><%= @profile.city %><br></strong>  
  <h3>Signature Treat:</h3>
  <strong><%= @profile.treat_name %><br> </strong> 
  <h3>Breeds I own:</h3>  
  <strong><%= @profile.breeds_owned %><br></strong>
  <h3>Contact:</h3>
  <strong><%= current_user.email %></strong> 
</div>