<div class="col-md-10 col-md-offset-1">
  <% @favorites.each do |fav| %>
    <% Post.where("id = ? ", fav.post_id).each do |recipe| %>
      <div class="well" id="recipeWell">
      <h3 id="showTitle"><%= recipe.title %></h3><hr>
      <h5>Description:</h5>
      <p id="descPullRight"><%= recipe.description %></p><hr>
      <h5>Directions:</h5>
      <p id="descPullRight"><%= recipe.ingredients %></p><hr>
      <h5>Potential Allergens:</h5>
      <p id="descPullRight"><%= recipe.potential_allergens %></p><hr>
      
      Posted By: <p><%= recipe.user.email %></p>
      <%= recipe.user.created_at.time.to_formatted_s(:db) %> 
    </div> 
    <% end %>
  <% end %>
</div>
