<!-- <% content_for(:gradient, "bgGradient") %> -->
<div class="animated fadeIn">
  <div class="row " id="indexPosts" >
    <div class="col-md-10 col-md-offset-1">
      <% @posts.each do |post| %>
        <div class="well" id="postWell">
          <h3 id="showTitle"><%= post.title %></h3><hr>
          <h5>Description:</h5>
          <p id="descPullRight"><%= post.description %></p><hr>
          <%= link_to "Show Entire Recipe", post_path(post), class: "btn btn-warning btn-lg", id: "showRecipe" %>
          <br>
          <br>
          Posted By: <p><%= post.user.email %></p><%= post.user.created_at.time.to_formatted_s(:db)  %> 
        </div>
      <% end %>
    </div>
  </div>
</div>