<% @posts.each do |post| %>
  <div class="well" id="postWell">
    <h3 id="showTitle"><%= post.title %></h3><hr>
    <strong>Description:</strong>
    <p><%= post.description %></p><hr>
    <strong>Recipe:</strong>
    <p><%= post.ingredients %></p><hr>
    <strong>Potential Allergens:</strong>
    <p><%= post.potential_allergens%></p>
    <%= link_to "Show Recipe", post_path(post), class: "btn btn-primary btn-md" %>
  </div>
<% end %>
