<div class="well" id="postWell">
  <h1 id="showTitle"><%= @post.title %></h1>
  <strong>Description:</strong>
  <p><%= @post.description %></p>
  <strong>Ingredients:</strong>
  <p><%= @post.ingredients %></p>
  <strong>Potential Allergens:</strong>
  <p><%= @post.potential_allergens %></p>
</div>

<% if @post.liked_by?(current_user) %>
  <%= link_to "<i class='fa fa-thumbs-down fa-3x'></i>".html_safe, [@post, @like], method: :delete %>
<% else %>                    
  <%= link_to "<i class='fa fa-thumbs-up fa-3x'></i>".html_safe, [@post, Like.new], method: :post %>
<% end %>

<% if @post.favorited_by?(current_user) %>
  <%= link_to "<i class='fa fa-star-o fa-3x'></i>".html_safe, [@post, @favorite], method: :delete %>
<% else %>                    
  <%= link_to "<i class='fa fa-star fa-3x'></i>".html_safe, [@post, Favorite.new], method: :post %>
<% end %>

<% if current_user == @post.user %>
  <%= link_to "Delete Recipe", @post, method: :delete, data: {confirm: "Are you sure you would like to delete this recipe?"}, class: "btn btn-danger" %>
<% end %>

<hr>

<div class="well" id="commentWell">
  <%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :comment %>
    <p><%= f.text_area :body, :size => "100x5", placeholder: "Share Your Comments!" %></p>
  </div>

  <div>
    <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
  </div>
  <% end %>
</div>

<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <span class="pull-right"><%= link_to "Delete Comment", [@post, comment] , method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger" %></span>
  <hr>
<% end %>
