<h1><%= @post.title %></h1>

Summary: 
<p><%= @post.description %></p>
Ingredients: 
<p><%= @post.ingredients %></p>
Potential Allergens:
<p><%= @post.potential_allergens %></p>

<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="form-group">
    <%= f.label :comment %>
    <p><%= f.text_area :body, :size => "100x5", placeholder: "Enter Comment.." %></p>
  </div>

  <div>
    <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
  </div>
<% end %>

<div class="well">
  <% @post.comments.each do |comment| %>
      <p><%= comment.body %></p>
      <%= link_to "Delete Comment", [@post, comment] , method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger" %>
  <% end %>
</div>
